body {
margin: 0;
background-color: #1b1b1b;
color: white;
font-family: Arial, sans-serif;
}

h1 {
text-align: center;
margin: 20px 0;
}

.inclan {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Crea columnas que se ajustan solas según el tamaño de la pantalla */
gap: 25px;
padding: 30px;
}

.personaje {
padding: 20px;
text-align: center;
}
.personaje img {
width: 100%;
height: 220px; 
}

.personaje h2 {
margin: 15px 0 10px;
}

.personaje p {
color: #d0d0d0;
}


.xd-p {
padding: 10px;
 border-radius: 10px;
}

.xd-p p {
margin: 5px 0;
padding: 5px;
color: red;
border-radius: 5px;
}
